/* Cambiar el color del navbar a morado gris */
.navbar {
    background-color: #5d536b !important;  /* Morado grisáceo */
}

/* Cambiar el color del texto del navbar a gris claro */
.navbar a.navbar-brand, .navbar a.nav-link {
    color: #e0dfe6 !important;  /* Gris claro */
}

/* Cambiar el color del texto del navbar cuando el mouse se posiciona encima */
.navbar a.nav-link:hover {
    color: #d1ced9 !important;  /* Morado claro */
}

/* Estilo para los botones con animación */
.nav-item a.nav-link {
    position: relative;
    padding: 10px;
    color: #e0dfe6 !important;  /* Gris claro */
    text-transform: uppercase;
    font-size: 14px;
    transition: color 0.3s ease-in-out;
}

/* Animación al pasar el mouse por encima */
.nav-item a.nav-link::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #948ba1;  /* Morado neutro */
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.nav-item a.nav-link:hover::before {
    visibility: visible;
    width: 100%;
}

/* Animación al pasar el mouse */
.nav-item a.nav-link:hover {
    color: #948ba1 !important;  /* Morado neutro */
}

/* Cambiar el estilo del footer */
.footer {
    background-color: #3d3847 !important;  /* Morado oscuro grisáceo */
    color: #e0dfe6 !important;  /* Gris claro */
}

.footer p {
    margin: 0;
    padding: 10px 0;
}

/* Añadir espaciado para evitar el overlap con el contenido */
.container {
    margin-bottom: 50px;  /* Aumenta el margen inferior */
}
